body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3C3C3C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 0;
  text-shadow: 2px 1px #FF5A5F;
}

h3 {
  color: #FF5A5F;
  font-size: 30px;
}

h4 {
  color: white;
  font-size: 35px;
}

h5 {
  color: #FF5A5F;
}

hr {
  border-color: #BBDBDF;
}

a {
  /* text-decoration: none !important; */
  color: white;
}

a:hover {
  color: #FF5A5F;
}

h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 0;
  text-shadow: 2px 1px #FF5A5F;
  text-align: center!important;
}




